---
import AboutBackgroundSection from "@/features/background/components/AboutBackgroundSection.astro";
import HomeProjectSection from "@/features/project/components/HomeProjectSection.astro";
import DefaultLayout from "src/layouts/DefaultLayout.astro";

const title = "Aboutページ";
const heading = "Aboutページ";
---

<DefaultLayout title={title} heading={heading}>
  <div class="grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 gap-4 w-11/12 mx-auto">
    <AboutBackgroundSection />
    <HomeProjectSection />
  </div>
</DefaultLayout>
