---
import AboutBackgroundSection from "@/features/background/components/AboutBackgroundSection.astro";
import DefaultLayout from "src/layouts/DefaultLayout.astro";

const title = "About Me";
const heading = "経歴";
---

<DefaultLayout
  title={title}
  heading={heading}
>
  <div class="py-12 px-4">
    <AboutBackgroundSection />
  </div>
</DefaultLayout>
