---
import { Icon } from "astro-icon/components";

interface Props {
  iconName?: string;
  cardTitle?: string;
  hasHeader?: boolean;
  sectionClassName?: string;
}

const { iconName, cardTitle, hasHeader = true, sectionClassName = "" } = Astro.props;
---

<section
  class={`w-full h-fit rounded-2xl shadow-sm border border-neutral-200/60 bg-white/80 backdrop-blur-sm hover:shadow-xl hover:border-primary-200 transition-all duration-500 overflow-hidden ${sectionClassName}`}
>
  {
    hasHeader && (iconName || cardTitle) && (
      <div class="py-6 px-8 border-b border-neutral-100 bg-neutral-50/30">
        <div class="flex gap-4 items-center">
          {iconName && (
            <div class="p-2.5 bg-white border border-neutral-200 rounded-xl shadow-sm text-neutral-700">
              <Icon name={iconName} class="w-6 h-6" />
            </div>
          )}
          {cardTitle && <h2 class="text-xl font-bold text-neutral-900 tracking-tight">{cardTitle}</h2>}
        </div>
      </div>
    )
  }
  <div class="p-8">
    <slot />
  </div>
</section>
