---
import HomeCardItem from "@/shared/components/card/HomeCardItem.astro";
import { fetchLatestProjects } from "../services/fetchLatestProjects";

const latestThreeProjects = await fetchLatestProjects(3);
---

{
  latestThreeProjects.length === 0 ? (
    <p class="text-sm text-neutral-500 text-center">表示するプロジェクトがありません。</p>
  ) : (
    <ul class="space-y-4">
      {latestThreeProjects.map(({ title, id }) => (
        <a href={`/projects/${id}`} class="block">
          <HomeCardItem title={title} />
        </a>
      ))}
    </ul>
  )
}
