---
import { Icon } from "astro-icon/components";
import type { Contact } from "../types";

interface Props extends Contact {}
const { link, icon, value } = Astro.props;
---

<li>
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="flex flex-col items-center gap-3 py-4 px-4 rounded-lg border border-neutral-200 hover:opacity-50 transition-all duration-200 hover:shadow-md"
  >
    <Icon name={icon} class="w-20 h-20" />
    <span class="text-sm font-semibold text-neutral-800">{value}</span>
  </a>
</li>
