---
import HomeCardItem from "@/shared/components/card/HomeCardItem.astro";
import type { Achievement } from "../types/Achievement";

const allAchievements: Achievement[] = [];
const lastThreeAchievements = allAchievements.slice(0, 3);
---

{
  lastThreeAchievements.length === 0 ? (
    <p class="text-sm text-neutral-500 text-center">表示する実績がありません。</p>
  ) : (
    <ul class="space-y-2">
      {lastThreeAchievements.map(({ title, id }: Achievement) => (
        <a href={`/achievements/${id}`}>
          <HomeCardItem title={title} />
        </a>
      ))}
    </ul>
  )
}
