---
import { getCollection } from "astro:content";
import LatestBlogItem from "./LatestBlogItem.astro";

const allBlogs = await getCollection("blog");

const latestThreeBlogs = allBlogs
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 3);
---

{
  latestThreeBlogs.length === 0 ? (
    <p class="text-sm text-neutral-500 text-center">表示するブログがありません。</p>
  ) : (
    <ul class="space-y-4">
      {latestThreeBlogs.map((blog) => (
        <LatestBlogItem frontmatter={blog.data} url={`/blog/${blog.slug}`} />
      ))}
    </ul>
  )
}
